@charset "utf-8";
/* 
	//@CSS		Document 
	//@Author:	Miracle
*/
*{margin:0;padding:0;position:relative;}
html{position:static;}
body{clear:both;font-size:12px;font-family:Arial,Verdana,宋体;}
a{text-decoration:none;color:black;}
img{border:none;}
li{list-style-type:none;}
.clear{clear:both;}
h1,h2,h3,h4,h5,h6{font-size:12px;margin:0;padding:0}
p{letter-spacing:1px;}

/*----------主体---------*/
.box{width:100%;text-align:center;}
.box .contBox{width:970px;margin:0 auto;text-align:left;overflow:hidden;}
/*----------头部内容样式---------*/
.contBox .contTop{width:970px;height:110px;}
.contTop .contLogo{width:316px;height:48px;float:left;}
.contTop .contLogin{width:auto;height:30px;float:right;margin-top:10px;}
.contLogin span{display:block;float:left;}
/*----------菜单内容样式---------*/
.contBox .contMenu{width:970px;height:80px;position:absolute;top:20px;background:url(../images/m.gif) no-repeat;}
.contMenu .menuHead{width:350px;height:35px;background:#fff;margin:0 auto;margin-left:360px;}
.menuHead span{display:block;float:left;margin-right:10px;}

.contMenu .menuCont{width:100%;height:45px;background:url(../images/menubg.jpg) repeat-x;}
.menuCont span{display:block;float:left;margin-right:10px;}
.menuCont span.dw{width:180px;height:20px;}

.LeftMenuBox{position:absolute;top:55px;width:180px;}
/*.LeftMenuBox .dwCont{height:490px;background:url(../images/menuch.jpg) repeat-Y;display:none;margin-top:-5px;padding-top:5px;}*/
.LeftMenuBox .dwCont{background:url(../images/menuch.jpg) repeat-Y;display:none;margin-top:-5px;padding-top:5px;}
.dwCont .dwBotton{width:168px;height:37px;_z-index:-1;margin-top:3px;margin-left:6px;}
/*----------menu内容样式---------*/
.my_left_category{width:163px;font-size:12px;font-family:arial,sans-serif;letter-spacing:2px;margin-left:10px;}
.my_left_category .my_left_cat_list{width:163px;line-height:13.5pt;}
.my_left_category .h2_cat{width:163px; height:40px;background-image:url(../images/20100409124819709.gif);
 background-repeat:no-repeat;  line-height:26px; font-weight:normal; color:#333333; position:relative;}
.my_left_category a{ font:12px; text-decoration:none; color:#333333;}
.my_left_category a:hover{ text-decoration:underline; color:#ff3333;}
.my_left_category h3{margin:0px; padding:0px;height:40px;_height:50px;display:block; padding-left:8px;padding-top:12px;}
.my_left_category h3 span{color:#999999; width:145px; float:right;}
.my_left_category h3 a{ line-height:12px;}
.my_left_category h3 a.ttext{font-size:13px;font-weight:bold;margin-top:8px;}
.my_left_category h3 a.btext{font-size:10px;letter-spacing:0em;}
.my_left_category .h3_cat{ display:none; width:440px; position:absolute;left:123px;margin-top:-52px;_margin-top:-50px;cursor:auto;}
.my_left_category .shadow{position:inherit;width:440px;}
.my_left_category .shadow_border{position:inherit;width:440px;border:1px solid #1B6EB2; margin-top:1px;border-left-width:0px;background-color:#ffffff;margin-bottom:3px;margin-left:40px;}
.my_left_category .shadow_border ul{margin:0; padding:0; margin-left:15px}
.my_left_category .shadow_border ul li {list-style:none;padding-left:10px;float:left;width:76px;height:23px;overflow:hidden;letter-spacing:0px;} 
.my_left_category .active_cat{ z-index:99;background-position:0 -49px;cursor:pointer;}
.my_left_category .active_cat h3 {font-weight:bold;color:#ff3333;}
.my_left_category .active_cat h3 span{display:none;} 
.my_left_category .active_cat div{display:block;}
#Menu {margin-top: 5px;}

.subitem{padding-right: 4px; padding-left: 8px;min-height: auto;float: left; padding-bottom: 0px; width: 440px;padding-top: 0px;}
.subitem DL {padding-right: 0px;border-top: #ffefd7 1px solid;padding-left: 0px;padding-bottom: 6px;overflow: hidden;padding-top: 6px; zoom: 1;}
.subitem .fore{border-top-style: none; }
.subitem DT{float: left;width: 62px;line-height: 22px;text-align: right;}
/*.subitem DT A {color: #c00;}*/
.subitem DD { float: left; width: 360px;}
.subitem DD A {border-left: #ccc 1px solid;padding: 0 8px;margin-bottom: 5PX; text-decoration: none;display: inline-block;line-height: 20PX;font-style: normal;}
.fore { border-top-style: none; }
/*----------menu内容样式end---------*/

/*----------search内容样式start---------*/
.menuCont span.menuc{margin-left:80px;margin-top:12px;background:#99B6CF;width:325px;height:25px;}
.menuc {margin:0;padding:0;}
.menuc  .formBox{width:248px;height:20px;overflow:hidden;background:#fff;margin-top:3px;margin-left:2px;_margin-left:1px;float:left;}
.menuc  .searchBox{width:168px;border:none;float:left;padding:2px;_padding-top:4px;}
.menuc  .selectBox{width:76px;height:20px;float:left;}
.selectBox select{border:none;border-left:1px solid #99B6CF;margin-top:2px;_margin-top:-1px;width:79px;padding-left:2px;}
.menuc  .searchBotton{width:42px;height:21px;float:left;margin-left:8px;margin-top:2px;}


/*----------search内容样式end---------*/

.menuCont span.menur{float:left;margin-top:18px;}
.menur a{display:block;float:left;margin-left:8px;color:#99B6CF;}
.menur a.menuText{font-weight:bold;}
/*----------主体内容样式---------*/
.contBox .contBody{width:970px;margin-bottom:10px;}
/*----------主体login样式---------*/
.contBody .loginBody{width:100%;}
.loginBody .location{width:950px;margin-left:5px;}
.location p{color:#888;padding-left:5px;}
.location p a{font-size:13px;font-weight:bold;}

.loginBody .registerBcont,.loginBody .loginBcont{width:950px;height:500px;border:1px solid #E7E7E7;margin-top:20px;margin-left:10px;}
.registerBcont .regsuccessFormbox,.registerBcont .registerFormbox,.loginBcont .loginFormbox{width:750px;height:300px;margin-left:170px;margin-top:50px;}
.registerFormbox ,.loginFormbox {margin:0;padding:0;}
.registerFormbox  p,.loginFormbox  p{padding-top:20px;}
.loginFormbox  p input.loginPwdbox,.loginFormbox  p input.loginNamebox{width:220px;height:22px;border:1px solid #E7E7E7;margin-left:20px;padding:2px;}
.loginFormbox  p input.nAstyle{margin-left:50px;*margin-left:46px;}
.loginFormbox  p input.nAstyle p{color:#99B6CF;}
.loginFormbox  p input.fPstyle{color:#888;margin-left:20px;}
.loginFormbox  p input.loginImg{width:136px;height:35px;overflow:hidden;float:left;margin-left:50px;margin-top:10px;}
.loginFormbox  p span{display:block;float:left;margin-left:30px;margin-top:20px;}
.loginFormbox  p span a{text-decoration:underline;color:#888;}

/*----------主体register样式---------*/
.registerFormbox  p input.registerPwdsurebox,.registerFormbox  p input.registerPwdbox,.registerFormbox  p input.registerMbox,.registerFormbox  p input.registerNamebox{width:200px;height:22px;border:1px solid #E7E7E7;margin-left:20px;padding:2px;}
.registerFormbox  p span{padding-left:10px;color:#888;}
.registerFormbox  p input.registerImg{width:136px;height:35px;overflow:hidden;float:left;margin-left:80px;margin-top:10px;}
.registerFormbox  p input.agree{margin-left:80px;}

/*----------主体regsuccess样式---------*/
.registerBcont .regsuccessFormbox p{height:25px;margin-top:15px;}
.registerBcont .regsuccessFormbox p a{font-size:14px;font-weight:bold;color:#3972A1;margin-left:5px;margin-right:10px;}
.registerBcont .regsuccessFormbox p span{display:block;float:left;}
.registerBcont .regsuccessFormbox p span a{color:#99B6CF;margin-left:5px;font-size:13px;}
.registerBcont .regsuccessFormbox p span.ss{margin-top:5px;}
/*----------版权内容样式---------*/
.contBox .copyRight{clear:both;width:970px;height:100px;border-top:1px solid #E7E7E7;text-align:center;}
.copyRight .cRbox{width:500px;height:80px;margin:0 auto;margin-top:8px;}
.cRbox p{margin-top:5px;}
